.web {
    color: #17a2b8;
    font-weight: 100;
}

.ig {
    color: #999;
    font-weight: 600
}

.sis {
    font-size: 60%;
}

.sim {
    color: #4cae4c;
}

.nao {
    color: #d43f3a;
}

.explicacao {
    color: #999;
    font-size: 85%;
    padding-top: 8px;
}

.btn-acao {
    width: 12em;
}

.btn i {
    margin: 0 4px;
}

.data {
    min-width: 120px;
}

.box-footer .pagination {
    margin: 0;
}

.vcenter>tbody>tr>td, .center>tbody>tr>th {
    vertical-align: middle;
}
