.web {
    color: #17a2b8;
    font-weight: 100;
}

.ig {
    color: #999;
    font-weight: 600
}

.sis {
    font-size: 60%;
}

.web-dark {
    color: #e6e6e6;
    font-weight: 100;
}

.ig-dark {
    color: #33adff;
    font-weight: 600
}

.sis-dark {
	color: #808080;
    font-size: 60%;
}

.msm {
	color: #ff8080;
}

.fonte-slin {
	font-weight: 100;
}

.row-main {
	margin-top: 85px;
}

p.bg  {
    padding: 15px;
}

